h1 {
    text-align: center;
}
nav {
    margin: 0 auto;
    width: 40vw;
}
nav ul {
    display: flex;
    padding-inline-start: 0;
    list-style-type: none;
    justify-content: space-around;
}
@media (max-width: 650px) {
  
    nav {
        width: 80vw;
    }

    nav ul {
        
        justify-content: space-between;
    }
  

}