h1 {
    text-align: center;
}
nav {
    margin: 0 auto;
    width: 40vw;
}
nav ul {
    display: flex;
    padding-inline-start: 0;
    list-style-type: none;
    justify-content: space-around;
}
img {
    filter: sepia(100%);
    transition: all 1s;
    width: 10vw;
}
img[src$=".jpg"] {border: 0.2rem solid salmon;}
img[alt=""] {border: 0.3rem dotted black;}

img:hover {
    filter: none;
}
@media (max-width: 650px) {
  
    nav {
        width: 80vw;
    }

    nav ul {
        
        justify-content: space-between;
    }
  

}